<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>loginServlet</servlet-name>
  	<display-name>loginServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.loginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PatientsRegistration</servlet-name>
  	<display-name>PatientsRegistration</display-name>
  	<description></description>
  	<servlet-class>com.servlets.PatientsRegistration</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddDoctorsServlet</servlet-name>
  	<display-name>AddDoctorsServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.AddDoctorsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>fetchDoctors</servlet-name>
  	<display-name>fetchDoctors</display-name>
  	<description></description>
  	<servlet-class>com.servlets.fetchDoctors</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>makeAppointmentServlet</servlet-name>
  	<display-name>makeAppointmentServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.makeAppointmentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>fetchAppointments</servlet-name>
  	<display-name>fetchAppointments</display-name>
  	<description></description>
  	<servlet-class>com.servlets.fetchAppointments</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>billServlet</servlet-name>
  	<display-name>billServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.billServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>fetchBills</servlet-name>
  	<display-name>fetchBills</display-name>
  	<description></description>
  	<servlet-class>com.servlets.fetchBills</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>fetchPatients</servlet-name>
  	<display-name>fetchPatients</display-name>
  	<description></description>
  	<servlet-class>com.servlets.fetchPatients</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>addAdminServlet</servlet-name>
  	<display-name>addAdminServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.addAdminServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>fetchAdmins</servlet-name>
  	<display-name>fetchAdmins</display-name>
  	<description></description>
  	<servlet-class>com.servlets.fetchAdmins</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>addPrescriptionServlet</servlet-name>
  	<display-name>addPrescriptionServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.addPrescriptionServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>fetchPrescriptions</servlet-name>
  	<display-name>fetchPrescriptions</display-name>
  	<description></description>
  	<servlet-class>com.servlets.fetchPrescriptions</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deleteAdmin</servlet-name>
  	<display-name>deleteAdmin</display-name>
  	<description></description>
  	<servlet-class>com.servlets.deleteAdmin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deleteDoctors</servlet-name>
  	<display-name>deleteDoctors</display-name>
  	<description></description>
  	<servlet-class>com.servlets.deleteDoctors</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deletePatients</servlet-name>
  	<display-name>deletePatients</display-name>
  	<description></description>
  	<servlet-class>com.servlets.deletePatients</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>allocateDoctors</servlet-name>
  	<display-name>allocateDoctors</display-name>
  	<description></description>
  	<servlet-class>com.servlets.allocateDoctors</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>fetchStaffs</servlet-name>
  	<display-name>fetchStaffs</display-name>
  	<description></description>
  	<servlet-class>com.servlets.fetchStaffs</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddStaffServlet</servlet-name>
  	<display-name>AddStaffServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.AddStaffServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deleteStaffServlet</servlet-name>
  	<display-name>deleteStaffServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlets.deleteStaffServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>addMedicine</servlet-name>
  	<display-name>addMedicine</display-name>
  	<description></description>
  	<servlet-class>com.servlets.addMedicine</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>fetchMedicines</servlet-name>
  	<display-name>fetchMedicines</display-name>
  	<description></description>
  	<servlet-class>com.servlets.fetchMedicines</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deleteMedicine</servlet-name>
  	<display-name>deleteMedicine</display-name>
  	<description></description>
  	<servlet-class>com.servlets.deleteMedicine</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>updateStock</servlet-name>
  	<display-name>updateStock</display-name>
  	<description></description>
  	<servlet-class>com.servlets.updateStock</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getReport</servlet-name>
  	<display-name>getReport</display-name>
  	<description></description>
  	<servlet-class>com.servlets.getReport</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>loginServlet</servlet-name>
  	<url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PatientsRegistration</servlet-name>
  	<url-pattern>/PatientsRegistration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddDoctorsServlet</servlet-name>
  	<url-pattern>/AddDoctorsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>fetchDoctors</servlet-name>
  	<url-pattern>/fetchDoctors</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>makeAppointmentServlet</servlet-name>
  	<url-pattern>/makeAppointmentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>fetchAppointments</servlet-name>
  	<url-pattern>/fetchAppointments</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>billServlet</servlet-name>
  	<url-pattern>/billServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>fetchBills</servlet-name>
  	<url-pattern>/fetchBills</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>fetchPatients</servlet-name>
  	<url-pattern>/fetchPatients</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addAdminServlet</servlet-name>
  	<url-pattern>/addAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>fetchAdmins</servlet-name>
  	<url-pattern>/fetchAdmins</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addPrescriptionServlet</servlet-name>
  	<url-pattern>/addPrescriptionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>fetchPrescriptions</servlet-name>
  	<url-pattern>/fetchPrescriptions</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deleteAdmin</servlet-name>
  	<url-pattern>/deleteAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deleteDoctors</servlet-name>
  	<url-pattern>/deleteDoctors</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deletePatients</servlet-name>
  	<url-pattern>/deletePatients</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>allocateDoctors</servlet-name>
  	<url-pattern>/allocateDoctors</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>fetchStaffs</servlet-name>
  	<url-pattern>/fetchStaffs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddStaffServlet</servlet-name>
  	<url-pattern>/AddStaffServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deleteStaffServlet</servlet-name>
  	<url-pattern>/deleteStaffServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addMedicine</servlet-name>
  	<url-pattern>/addMedicine</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>fetchMedicines</servlet-name>
  	<url-pattern>/fetchMedicines</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deleteMedicine</servlet-name>
  	<url-pattern>/deleteMedicine</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>updateStock</servlet-name>
  	<url-pattern>/updateStock</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getReport</servlet-name>
  	<url-pattern>/getReport</url-pattern>
  </servlet-mapping></web-app>